absl-py
accelerate
adagio
aiohttp
aiohttp-retry
aiosignal
alabaster
alembic
altair
amqp
ansi2html
ansicon
antiorm
antlr4-python3-runtime
anyascii
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astor
asttokens
astunparse
async-generator
async-timeout
asyncssh
atpublic
attrs
autograd
autograd-gamma
autopep8
Babel
backcall
backoff
beautifulsoup4
billiard
black
bleach
blessed
blinker
blis
breadability
bs4
build
cachetools
catalogue
catboost
celery
certifi
cffi
cfgv
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpickle
cmaes
cmdstanpy
cohere
colorama
coloredlogs
colorlog
comm
confection
configobj
contourpy
contractions
convertdate
coverage
cramjam
crcmod
croniter
cryptography
cssselect
cycler
cymem
Cython
darts
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dask
databricks-cli
dataclasses
dataclasses-json
datasets
dateutils
db
db-sqlite3
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0-py3-none-any.whl
debugpy
decorator
deepdiff
defusedxml
Deprecated
dictdiffer
dill
diskcache
distlib
distro
dm-tree
dnspython
docformatter
docker
docopt
docstring-parser
docutils
dpath
dulwich
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
email-validator
emoji
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl#sha256
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints
ephem
etils
evaluate
exceptiongroup
executing
fairscale
fake-useragent
fastapi
fastavro
fasteners
fastjsonschema
fastparquet
filelock
fire
flake8
flake8-bugbear
Flask
Flask-Cors
flatbuffers
flatten-dict
flufl.lock
fonttools
formulaic
fqdn
frozenlist
fs
fsspec
fst-pso
fugue
fugue-sql-antlr
funcy
future
FuzzyTM
fuzzywuzzy
gast
gdown
geckodriver-autoinstaller
gekko
gensim
gitdb
gitdb2
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
gpt-index
grandalf
graphviz
great-expectations
greenlet
grpcio
h11
h5py
hdfs
hijri-converter
holidays
htmlmin
HTMLParser
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
hydra-core
identify
idna
igraph
ImageHash
imageio
imagesize
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
iniconfig
inquirer
install
interface-meta
iopath
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
isort
iterative-telemetry
itsdangerous
jax
jedi
Jinja2
jinxed
joblib
jsonlines
jsonpatch
jsonpickle
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-dash
jupyter-events
jupyter-server
jupyter_client
jupyter_core
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
kfp-pipeline-spec
kfp-server-api
kiwisolver
kombu
korean-lunar-calendar
KrovetzStemmer
kubernetes
langchain
langcodes
lazy_loader
ldap3
libclang
lifelines
lightgbm
lightning-cloud
lightning-utilities
lime
llvmlite
locket
loguru
LunarCalendar
lxml
mahotas
makefun
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mccabe
mdurl
miniful
missingno
mistune
ml-dtypes
mlflow
mlxtend
mock
multidict
multimethod
multiprocess
munkres
murmurhash
mypy-extensions
nanotime
nbclassic
nbclient
nbconvert
nbformat
ndg-httpsclient
nest-asyncio
networkit
networkx
nfoursid
ninja
nlpaug
nltk
nodeenv
notebook
notebook_shim
numba
numexpr
numpy
oauthlib
objgraph
objsize
omegaconf
openai
openapi-schema-pydantic
opencv-python
opt-einsum
optuna
ordered-set
orjson
outcome
packaging
pandas
pandas-profiling
pandocfilters
parquet
parse
parso
partd
pathspec
pathy
patsy
pexpect
phik
pickleshare
Pillow
pinecone-client
pip-tools
pipreqs
platformdirs
plotly
plotly-resampler
pluggy
ply
pmdarima
polars
portalocker
pre-commit
preshed
prometheus-client
promise
prompt-toolkit
prophet
proto-plus
protobuf
psutil
ptyprocess
PuLP
pure-eval
pusher
py-gfm
py-rouge
pyahocorasick
pyaml
pyarrow
pyasn1
pyasn1-modules
pybind11
pycebox
pycodestyle
pycountry
pycparser
pydantic
pydeck
pydot
PyDTMC
pyee
pyflakes
pyFUME
pygit2
Pygments
pygtrie
PyJWT
PyMeeus
pymongo
Pympler
PyNaCl
pynvml
pyod
Pyomo
pyOpenSSL
pyparsing
pyppeteer
pyproject_hooks
pyquery
pyreadline3
pyrsistent
PySocks
pytest
pytest-cov
pytest-datadir
pytest-regressions
python-dateutil
python-dotenv
python-editor
python-json-logger
python-multipart
pytorch-lightning
pytz
pyvis
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
qpd
qtconsole
QtPy
querystring-parser
readchar
regex
requests
requests-html
requests-mock
requests-oauthlib
requests-toolbelt
responses
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rouge-score
rsa
ruamel.yaml
scikit-image
scikit-learn
scikit-optimize
scikit-surprise
scipy
scmrepo
sd-material-ui
seaborn
selenium
Send2Trash
sentence-transformers
sentencepiece
sh
shap
shortuuid
shtab
simpful
six
slicer
smart-open
smmap
sniffio
snorkel
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlglot
sqlparse
sqltrie
squarify
srsly
stack-data
starlette
starsessions
statsforecast
statsmodels
stop-words
streamlit
strip-hints
subprocess.run
subword-nmt
sumy
surprise
tabulate
tangled-up-in-unicode
tbats
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-metadata
termcolor
terminado
textblob
textsearch
texttable
thinc
threadpoolctl
thriftpy2
tifffile
tiktoken
tinycss2
tk
tokenizers
toml
tomli
tomlkit
toolz
torch
torch-tb-profiler
torchaudio
torchdata
torchmetrics
torchtext
torchvision
tornado
tqdm
trace-updater
traitlets
transformers
triad
trio
trio-websocket
typeguard
typer
typing-inspect
typing_extensions
tzdata
tzlocal
ujson
unicode
Unidecode
untokenize
uri-template
uritemplate
urllib3
uvicorn
validators
vine
virtualenv
visions
voluptuous
w3lib
waitress
wasabi
watchdog
watchfiles
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
win32-setctime
wordcloud
wrapt
wsproto
xarray
xgboost
xxhash
yarg
yarl
ydata-profiling
zc.lockfile
zipp
zstandard
